<div class="video-dialog-header">
    <button mat-icon-button class="video-dialog-close" (click)="dialogRef.close()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div class="video-dialog-container">
    <div class="video-dialog-image">
        <img src="{{video.backdrop_path}}">
    </div>
    <div class="video-dialog-content">
        <h2><strong>{{video.original_title}}</strong></h2>
        <p><strong>{{video.title}}</strong></p>
        <p>{{video.release_date}}</p>
        <p>{{video.overview}}</p>
        <div>
            <div class="video-dialog-detail">
                <div class="video-dialog-detail-name">Country</div>
                <div class="video-dialog-detail-value">United States of America</div>
            </div>
            <div class="video-dialog-detail">
                <div class="video-dialog-detail-name">Language</div>
                <div class="video-dialog-detail-value">{{video.original_language}}</div>
            </div>
            <div class="video-dialog-detail">
                <div class="video-dialog-detail-name">Genre</div>
                <div class="video-dialog-detail-value">Action, Adventure, Science Fiction</div>
            </div>
            <div class="video-dialog-detail">
                <div class="video-dialog-detail-name">Length</div>
                <div class="video-dialog-detail-value">135 mins</div>
            </div>
            <div class="video-dialog-detail">
                    <div class="video-dialog-detail-name">IMDB Link</div>
                    <div class="video-dialog-detail-value">
                        <a mat-raised-button href="http://www.facebook.com" target="_blank">To IMDB</a>
                    </div>
                </div>
        </div>
    </div>
</div>