<div class="video-dialog-header">
    <button mat-icon-button class="video-dialog-close" (click)="dialogRef.close()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div class="video-dialog-container">
    <div class="video-dialog-image">
        <img src="{{video.imageUrl}}">
    </div>
    <div class="video-dialog-content">
        <h2><strong>{{video.title}}</strong></h2>
        <p>{{video.releaseDate}}</p>
        <p>{{video.description}}</p>
        <div>
            <div class="video-dialog-detail">
                <div class="video-dialog-detail-name">Country</div>
                <div class="video-dialog-detail-value">{{video.country}}</div>
            </div>
            <div class="video-dialog-detail">
                <div class="video-dialog-detail-name">Genre</div>
                <div class="video-dialog-detail-value">
                    <span *ngFor="let subgenre of video.genre">
                        {{subgenre}}
                    </span>
                </div>
            </div>
            <div class="video-dialog-detail">
                <div class="video-dialog-detail-name">Length</div>
                <div class="video-dialog-detail-value">{{video.duration}}</div>
            </div>
            <div class="video-dialog-detail">
                    <div class="video-dialog-detail-name">IMDB Link</div>
                    <div class="video-dialog-detail-value">
                        <a mat-raised-button href="{{video.imdbLink}}" target="_blank">To IMDB</a>
                    </div>
                </div>
        </div>
    </div>
</div>